*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    background-image: url(./images/mente-humana-3.jpg);
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board{
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto auto auto auto;
   justify-content: center;
   background-color: black;
   height: 85vh;
   grid-gap: 1em;
}

#modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: white;
    height: 25vh;
    width: calc(29vw - 30px);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.actions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-bg2{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

#modal2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 15vh;
    width: 28vh;
    background-color: white;
}

#modal2 #restart{
    width: calc(100% - 50px);
    margin: 0 auto;
    height: 4vh;
}

.modal2{
    background-color: white;
    height: 150px;
    width: 100px;
}

.modal .p1, .p3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 10px 2px;
    color: black;
}

.modal .p2{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin: 10px 0;
}

.actions button{
    margin: 20px 0;
    height: 50px;
    width: 100px;
}

#record{
    display: flex;
    justify-content: space-around;
    height: 25px;
    width: 400px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.square{
    width: 120px;
    height: 150px;
    background-image: url(./images/innovation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    background-color: red;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
}

.imageSquare{
    width: 100%;
    object-fit: contain;
    transform: rotateY(180deg);
    pointer-events: none;
}

.flip{
    background-color: grey;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

#timeDiv{
    display: flex;
    justify-content: space-around;
    height: 25px;
    width: 400px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
@media screen and (max-width: 425px){
    .modal{
        width: 200px;
    }
    .square{
        width: 70px;
        height: 100px;
        margin: 0 3px;
    }
    #board{
        grid-gap: 0.5em;
    }
    #record, #timeDiv{
        width: 60%;
    }
}
@media screen and (max-width: 375px){
    .square{
        width: 65px;
        height: 110px;

    }
    #board{
        width: auto;
        height: auto;
        grid-gap: 0.2em;
    }
    .modal{
        height: 250px;
    }
    .modal2{
        height: 20vh
    }
}
